{% extends "tienda/base.html" %}
{% load static %}
{% block content %}

<div class="container py-5">
  <h2 class="mb-4">Catálogo de Diseños</h2>
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    {% for producto in page_obj %}
      <div class="col mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">{{ producto.nombre }}</h5>
              ${{ producto.precio }}
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
            <a class="btn btn-outline-dark mt-auto" href="{% url 'tienda:detalle_producto' producto.id %}">Ver diseño</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Paginación -->
  <nav>
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        </li>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>


{% endblock %}
