<!-- tienda/templates/tienda/lista_productos.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>
                <h2>{{ producto.nombre }}</h2>
                <p>{{ producto.descripcion }}</p>
                <p>Precio: ${{ producto.precio }}</p>
                <p>Stock: {{ producto.stock }}</p>
                {% if producto.imagen_principal %}
                    <img src="{{ producto.imagen_principal.url }}" alt="{{ producto.nombre }}" style="max-width: 150px;">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
tml>